<!-- {% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
  {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>s
{% else %}
    <p>No polls are available.</p>
{% endif %}
  
{% load static %} -->
{% load static %}
<!DOCTYPE html>
<head>
    <title>Polls</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <h1>Welcome to the Polls</h1>
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
</body>


